.myhtml {
	background-color: #1c1c1e;
	position:absolute;
	color: #f4efef;
	font-family: Arial;
}
div {
	background-color: #1c1c1e;
	color: #f4efef;
	font-family: Arial;
}
p{
	color: #f4efef;
}

a:link {
	text-decoration: none;
	color: #8eb5f2;
}

a:hover {
	text-decoration: underline;
	size: 10px;
	color: #9db5db;
}

a:visited {
	text-decoration: none;
	color: #8eb5f2;
}


.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}
.scientist {
	width: 150px;
	height: 150px;
}


.mytable {
	margin: 20px auto;
	width: 95%;
	color: #f4efef;
	border: #505151 0.5px solid;
}

.myheadings {
	height: 50px;
	color: #c5ced6;
	text-align: center;
}

.instance:hover {
	background-color: #505151;
}

.photo {
	width: 250px;
	height: 300px;
}


.mynavbar a:link {
	text-decoration: none;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.mynavbar a:hover {
	text-decoration: none;
	color: white;
	background-color: #6b6a6a;
	padding-left: 5px;
	padding-right: 5px;
}

.mynavbar a:visited {
	text-decoration: none;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}



.memb1 {
	padding-left: 300px;
	width: 20%;
	float: left;
	min-width: 300px;

}

.memb2 {
	padding-right: 150px;
	width: 30%;
	float: right;
	min-width: 300px;
}

.memb3 {
	padding-left: 300px;
	width: 55%;
	float: left;
	min-width: 300px;
}

.memb4 {
	padding-right: 150px;
	width: 30%;
	float: right;
	min-width: 300px;
}

.memb5 {
	padding-left: 300px;
	width: 20%;
	float: left;
	min-width: 300px;

} 

.st {
	position: absolute;
	padding-top: 1600px;
	padding-left: 200px;
}

.stats a:link {
	padding-left: 5px;
	padding-right: 5px;
}
	
.myimage {
	position: relative;
	top: 40px;
}	
div.pager {
    
	letter-spacing: 5px;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
	letter-spacing: 5px;
    
    cursor: pointer;
    background: #5a5a5b;
    color: white;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #efeff4;
	color: black;
	letter-spacing: 5px;
}



