.myhtml {
	background-color: #1c1c1e;
	color: #f4efef;
	font-family: Arial;
}
div {
	background-color: #1c1c1e;
	color: #f4efef;
	font-family: Arial;
}
p{
	color: #f4efef;
}

a:link {
	text-decoration: none;
	color: #8eb5f2;
}

a:hover {
	text-decoration: underline;
	size: 10px;
	color: #9db5db;
}

a:visited {
	text-decoration: none;
	color: #8eb5f2;
}


.center {
	margin: auto;
    padding: 10px;
    text-align: center;
}

.scientist {
	width: 150px;
	height: 150px;
}


.mytable {
	margin: 20px auto;
	width: 95%;
	color: #f4efef;
	border: #505151 0.5px solid;
}

.myheadings {
	height: 50px;
	color: #c5ced6;
	text-align: center;
}

.instance:hover {
	background-color: #505151;
}

.photo {
	width: 250px;
	height: 300px;
}


.mynavbar a:link {
	text-decoration: none;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.mynavbar a:hover {
	text-decoration: none;
	color: white;
	background-color: #6b6a6a;
	padding-left: 5px;
	padding-right: 5px;
}

.mynavbar a:visited {
	text-decoration: none;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}



.st {
	padding-top: 50px;
	padding-left: 200px;
}

.stats a:link {
	padding-left: 5px;
	padding-right: 5px;
}
	
.myimage {
	position: relative;
	top: 40px;
}


