html {
	background-color: #1c1c1e;
	color: #f4efef;
}

p{
	color: #f4efef;
}


a:link {
	text-decoration: none;
	color: #8eb5f2;
}

a:hover {
	text-decoration: underline;
	size: 10px;
	color: #9db5db;
}

a:visited {
	text-decoration: none;
	color: #8eb5f2;
}

.title {
	color: white;
}
.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.table {
}

table {
	color: #f4efef;
	border-color: white;
}

#navbar {

}

#navbar a:link {
	text-decoration: none;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

#navbar a:hover {
	text-decoration: none;
	color: white;
	background-color: #6b6a6a;
	padding-left: 5px;
	padding-right: 5px;
}

#navbar a:visited {
	text-decoration: none;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

#memb1 {
	padding-left: 300px;
	width: 20%;
	float: left;
	min-width: 300px;

}

#memb2 {
	padding-right: 150px;
	width: 30%;
	float: right;
	min-width: 300px;
}

#memb3 {
	padding-left: 300px;
	width: 55%;
	float: left;
	min-width: 300px;
}

#memb4 {
	padding-right: 150px;
	width: 30%;
	float: right;
	min-width: 300px;
}

#memb5 {
	padding-left: 300px;
	width: 20%;
	float: left;
	min-width: 300px;

} 

#st {
	position: absolute;
	padding-top: 1600px;
	padding-left: 200px;
}

#stats a:link {
	padding-left: 5px;
	padding-right: 5px;
}
	
#image {
	position: relative;
	top: 40px;
}

.photo {
	width: 250px;
	height: 300px;
}

border: 3px solid #73AD21;