<!DOCTYPE html>
<div>
<html class = "myhtml">
	
<head>
	<title> Computer Science </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/></head>
</head>

<body>

<div class="center">
	<h1>Computer Science</h1>
<div class="mynavbar">
  <a href={{ url_for('index') }}> Home </a> 
	<a href={{ url_for('about') }}> About </a> 
	<a href={{ url_for('fields') }}> Scientific Fields </a> 
	<a href={{ url_for('scientistmodel') }}> Scientists </a> 
	<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
</div>
</div>
	<div>
		<p>
			Computer science is the study of the theory, experimentation, and engineering that form the basis for the design and use of computers. 
			It is the scientific and practical approach to computation and its applications and the systematic study of the feasibility, structure, 
			expression, and mechanization of the methodical procedures (or algorithms) that underlie the acquisition, representation, processing, 
			storage, communication of, and access to information. An alternate, more succinct definition of computer science is the study of 
			automating algorithmic processes that scale. A computer scientist specializes in the theory of computation and the design of 
			computational systems.
		</p>
	</div>
	<hr>
	<h3>History</h3>

	<div>
		<p>
		    In 1820, Thomas de Colmar launched the mechanical calculator industry when he released his simplified arithmometer, which was 
		    the first calculating machine strong enough and reliable enough to be used daily in an office environment. Charles Babbage started the 
		    design of the first automatic mechanical calculator, his Difference Engine, in 1822, which eventually gave him the idea of the first 
		    programmable mechanical calculator, his Analytical Engine. He started developing this machine in 1834, and "in less than two years, he 
		    had sketched out many of the salient features of the modern computer". "A crucial step was the adoption of a punched card system derived 
		    from the Jacquard loom" making it infinitely programmable. In 1843, during the translation of a French article on the Analytical Engine, 
		    Ada Lovelace wrote, in one of the many notes she included, an algorithm to compute the Bernoulli numbers, which is considered to be the 
		    first computer program. Around 1885, Herman Hollerith invented the tabulator, which used punched cards to process statistical 
		    information; eventually his company became part of IBM. In 1937, one hundred years after Babbage's impossible dream, Howard Aiken 
		    convinced IBM, which was making all kinds of punched card equipment and was also in the calculator business to develop his giant 
		    programmable calculator, the ASCC/Harvard Mark I, based on Babbage's Analytical Engine, which itself used cards and a central 
		    computing unit. When the machine was finished, some hailed it as "Babbage's dream come true".
		</p>
		<p>
             During the 1940s, as new and more powerful computing machines were developed, the term computer came to refer to the machines rather 
             than their human predecessors. As it became clear that computers could be used for more than just mathematical calculations, the field 
             of computer science broadened to study computation in general. Computer science began to be established as a distinct academic 
             discipline in the 1950s and early 1960s. The world's first computer science degree program, the Cambridge Diploma in Computer Science, 
             began at the University of Cambridge Computer Laboratory in 1953. The first computer science degree program in the United States was 
             formed at Purdue University in 1962. Since practical computers became available, many applications of computing have become distinct 
             areas of study in their own rights.
        </p>
        <p>
			Time has seen significant improvements in the usability and effectiveness of computing technology. Modern society has seen a 
			significant shift in the users of computer technology, from usage only by experts and professionals, to a near-ubiquitous user base. 
			Initially, computers were quite costly, and some degree of human aid was needed for efficient use—in part from professional computer 
			operators. As computer adoption became more widespread and affordable, less human assistance was needed for common usage.
        </p>
	</div>
	
	<hr>
	<h3>Subfields</h3>
	<div>
	<h5>Theory of Computation</h5>
	<p>
		In theoretical computer science and mathematics, the theory of computation is the branch that deals with how efficiently problems can be 
		solved on a model of computation, using an algorithm. The field is divided into three major branches: automata theory and language, 
		computability theory, and computational complexity theory, which are linked by the question: "What are the fundamental capabilities and 
		limitations of computers?".
	</p>
	
	<h5>Algorithms and Data Structures</h5>
	<p>
		Algorithms and data structures is the study of commonly used computational methods and their computational efficiency.

	</p>
	
	<h5>Programming Language Theory</h5>
	<p>
		Programming language theory (PLT) is a branch of computer science that deals with the design, implementation, analysis, characterization, 
		and classification of programming languages and their individual features. It falls within the discipline of computer science, both 
		depending on and affecting mathematics, software engineering and linguistics. It is a well-recognized branch of computer science, and an 
		active research area, with results published in numerous journals dedicated to PLT, as well as in general computer science and engineering 
		publications.
	</p>
	
	<h5>Computer Elements and Architecture</h5>
	<p>
		Computer architecture, or digital computer organization, is the conceptual design and fundamental operational structure of a computer system.
		 It focuses largely on the way by which the central processing unit performs internally and accesses addresses in memory. The field often 
		 involves disciplines of computer engineering and electrical engineering, selecting and interconnecting hardware components to create 
		 computers that meet functional, performance, and cost goals.
	</p>
	
	</div>
	<hr>
	<h3>Impacts/Applications</h3>
	<div>
	<p>
		Despite its short history as a formal academic discipline, computer science has made a number of fundamental contributions to science and 
		society—in fact, along with electronics, it is a founding science of the current epoch of human history called the Information Age and a 
		driver of the Information Revolution, seen as the third major leap in human technological progress after the Industrial Revolution 
		(1750–1850 CE) and the Agricultural Revolution (8000–5000 BC). These contributions include:
		<ul>
		<li>The start of the "digital revolution", which includes the current Information Age and the Internet.</li>
		<li>A formal definition of computation and computability, and proof that there are computationally unsolvable and intractable problems.</li>
		<li>In cryptography, breaking the Enigma code was an important factor contributing to the Allied victory in World War II.</li>
		<li>Scientific computing enabled practical evaluation of processes and situations of great complexity, as well as experimentation entirely 
		by software. It also enabled advanced study of the mind, and mapping of the human genome became possible with the Human Genome Project.
		 Distributed computing projects such as Folding@home explore protein folding.</li>
		</ul>
	</p>
	</div>
</body>

</html>
</div>

