<!DOCTYPE html>
<div>
<html class="myhtml">
  <head>
    <title> Scientific Discoveries </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		var imageArray = new Array ();
		var captionArray = new Array ();

		// Generate array of images and array of captions for slideshow
		imageArray[1] = document.createElement("IMG");
		imageArray[1].src = "../static/images/alcohol.jpg";
		captionArray[1] = "";

		imageArray[0] = document.createElement("IMG");
		imageArray[0].src = "../static/images/bacteria.jpeg";
		captionArray[0] = "";

		imageArray[2] = document.createElement("IMG");
		imageArray[2].src = "../static/images/flowerOvary.jpg";
		captionArray[2] = "";

		imageArray[3] = document.createElement("IMG");
		imageArray[3].src = "../static/images/fluidDyn.jpg";
		captionArray[3] = "";

		imageArray[4] = document.createElement("IMG");
		imageArray[4].src = "../static/images/fly.jpg";
		captionArray[4] = "";

		imageArray[5] = document.createElement("IMG");
		imageArray[5].src = "../static/images/nebula.jpg";
		captionArray[5] = "";

		imageArray[6] = document.createElement("IMG");
		imageArray[6].src = "../static/images/particleTrack.jpg";
		captionArray[6] = "";

		imageArray[7] = document.createElement("IMG");
		imageArray[7].src = "../static/images/plant.jpg";
		captionArray[7] = "";
		
		imageArray[8] = document.createElement("IMG");
		imageArray[8].src = "../static/images/sunflower.jpg";
		captionArray[8] = "";

		imageArray[9] = document.createElement("IMG");
		imageArray[9].src = "../static/images/veilNebula.jpeg";
		captionArray[9] = "";

	</script>
  	<link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/>
  </head>



  <body>
  <div class="center">
    <h1 class="title"> Science Bois </h1>

	<div class="mynavbar">
	  <a href={{ url_for('index') }}> Home </a> 
		<a href={{ url_for('about') }}> About </a> 
		<a href={{ url_for('fields') }}> Scientific Fields </a> 
		<a href={{ url_for('scientistmodel') }}> Scientists </a> 
		<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
	</div>

	<img class="myimage" src="" alt="Science" width="600" height="500" id="image"/>
	<script type="text/javascript">
	// Calls changeImg () to run every 3 seconds

	var indx = 0;
	function changeImg() {
		if (indx <= 9) {
			document.images.image.src = imageArray[indx].src;
			//document.getElementById("caption").innerHTML = captionArray[indx];
		}

		else {
			indx = 0;
			document.images.image.src = imageArray[indx].src;
			//document.getElementById("caption").innerHTML = captionArray[indx];	
		}

		indx++;
	}
	

	setInterval(changeImg, 3000);

	changeImg();

	</script>
	</div>
  </body>
</html>
</div>
