<!DOCTYPE html>
<div><html class = "myhtml">
<head>
	<title> Galileo </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/></head>
</head>

<body>


<div class="center">
<h2> Galileo </h2>


<div class="mynavbar">
  <a href={{ url_for('index') }}> Home </a> 
	<a href={{ url_for('about') }}> About </a> 
	<a href={{ url_for('fields') }}> Scientific Fields </a> 
	<a href={{ url_for('scientistmodel') }}> Scientists </a> 
	<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
</div>
</div>

<div id="info">
	<h3>
	Overview
	</h3>
	<p>
	Galileo, in full Galileo Galilei (born February 15, 1564, Pisa
[Italy]?died January 8, 1642, Arcetri, near Florence), Italian
natural philosopher, astronomer, and mathematician who made
fundamental contributions to the sciences of motion, astronomy,
and strength of materials and to the development of the
scientific method. His formulation of (circular) inertia, the
law of falling bodies, and parabolic trajectories marked the
beginning of a fundamental change in the study of motion. His
insistence that the book of nature was written in the language
of mathematics changed natural philosophy from a verbal,
qualitative account to a mathematical one in which
experimentation became a recognized method for discovering the
facts of nature. Finally, his discoveries with the telescope
revolutionized <a href={{url_for('fieldAstronomy')}}>astronomy</a> and paved the way for the acceptance of
the Copernican <a href={{url_for('theoryHelio')}}>heliocentric system</a>, but his advocacy of that
system eventually resulted in an Inquisition process against him.
</p>
	<h3>
	Relation to <a href={{url_for('theoryHelio')}}>Heliocentric System</a>
	</h3>
<p>
	Galileo was able to look at the night sky with the newly
invented telescope. Then he published his discoveries in
Sidereus Nuncius including (among other things) the moons of
Jupiter and that Venus exhibited a full range of phases. These
discoveries were not consistent with the Ptolemeic model of the
solar system. As the Jesuit astronomers confirmed Galileo's
observations, the Jesuits moved toward Tycho's teachings.
</p>
<p>
	In a Letter to the Grand Duchess Christina, Galileo defended
Heliocentrism, and claimed it was not contrary to Scriptures
(see Galileo affair). He took Augustine's position on Scripture:
not to take every passage literally when the scripture in
question is in a Bible book of poetry and songs, not a book of
instructions or history. The writers of the Scripture wrote from
the perspective of the terrestrial world, and from that vantage
point the sun does rise and set. In fact, it is the Earth's
rotation which gives the impression of the sun in motion across
the sky.
</p>
</div>

</body>
</html>
</div>
