<!DOCTYPE html>
<div>
<html class = "myhtml">
<head>
	<title> Albert Einstein </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/></head>
</head>


<body>


<div class="center">
<h2> Einstein </h2>


<div class="mynavbar">
  <a href={{ url_for('index') }}> Home </a> 
	<a href={{ url_for('about') }}> About </a> 
	<a href={{ url_for('fields') }}> Scientific Fields </a> 
	<a href={{ url_for('scientistmodel') }}> Scientists </a> 
	<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
</div>
</div>

<div id="info">
	<h3>
	Overview
	</h3>
	<p>
	Albert Einstein, (born March 14, 1879, Ulm, Wurttemberg,
Germany died April 18, 1955, Princeton, New Jersey, U.S.),
German-born physicist who developed the special and general
theories of <a href = {{url_for('theoryRelativity')}}>relativity</a> and won the Nobel Prize for <a href = {{url_for('fieldPhysics')}}>Physics</a> in
1921 for his explanation of the photoelectric effect. Einstein
is generally considered the most influential physicist of the
20th century.
</p>
	<h3>
	Relation to <a href={{url_for('theoryRelativity')}}> Theory of Relativity </a> 
	</h3>
<p>
As Einstein later said, the reason for the development of
general relativity was the preference of inertial motion within
special relativity, while a theory which from the outset prefers
no state of motion (even accelerated ones) appeared more
satisfactory to him. So, while still working at the patent
office in 1907, Einstein had what he would call his "happiest
thought". He realized that the principle of relativity could be
extended to gravitational fields.
</p>
<p>
In 1912, Einstein returned to Switzerland to accept a
professorship at his alma mater, the ETH. Once back in Zurich,
he immediately visited his old ETH classmate Marcel Grossmann,
now a professor of mathematics, who introduced him to Riemannian
geometry and, more generally, to differential geometry. On the
recommendation of Italian mathematician Tullio Levi-Civita,
Einstein began exploring the usefulness of general covariance
(essentially the use of tensors) for his gravitational theory.
For a while Einstein thought that there were problems with the
approach, but he later returned to it and, by late 1915, had
published his general theory of relativity in the form in which
it is used today. This theory explains gravitation as distortion
of the structure of spacetime by matter, affecting the inertial
motion of other matter.
</p>
</div>

</body>
</html>
</div>
