<!DOCTYPE html>
<div><html class = "myhtml">
<head>
	<title> Alfred Nobel </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/></head>
</head>


<body>
<div class="center">

<h2> Nobel </h2>

<div class="mynavbar">
	  <a href="./index.html"> Home </a> 
	  <a href="./about.html"> About </a> 
	  <a href="./fields.html"> Scientific Fields </a> 
	  <a href="./scientistmodel.html"> Scientists </a> 
	  <a href="./theorymodel.html"> Theories/Discoveries </a>
</div>
</div>

<div id="info">

<h3>
	Overview
	</h3>
	<p>
	Alfred Nobel, in full Alfred Bernhard Nobel (born October 21,
1833, Stockholm, Sweden?died December 10, 1896, San Remo,
Italy), Swedish chemist, engineer, and industrialist, who
invented dynamite and other, more powerful explosives and who
also founded the Nobel Prizes.
	</p>
	<h3>
	Relation to Dynamite
	</h3>
	<p>
	<a href="theoryDynamite.html">Dynamite</a> was invented by Alfred Nobel and was the first safely
manageable explosive stronger than black powder. Nobel obtained
patents for his invention in England on 7 May 1867, in Sweden on
19 October 1867. After its introduction, dynamite rapidly gained
wide-scale use as a safe alternative to black powder and
nitroglycerin. Nobel tightly controlled the patents, and
unlicensed duplicating companies were quickly shut down.
However, a few American businessmen got around the patent by
using a slightly different formula.
	</p>
</div>

</body>
</html>
</div>
