<!DOCTYPE html>
<div>
<html class="myhtml">
<head>
	<title> Scientists </title>
	
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/>
    <script type="text/javascript" src="../static/js/sort.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="../static/js/sort.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</head>


<body>
<div class="center">

<h1> Scientists </h1>


<div class="mynavbar">
  <a href={{ url_for('index') }}> Home </a> 
	<a href={{ url_for('about') }}> About </a> 
	<a href={{ url_for('fields') }}> Scientific Fields </a> 
	<a href={{ url_for('scientistmodel') }}> Scientists </a> 
	<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
</div>
</div>

<div  class="mytable">
<table rules="all" class="paginated" id="table">
	<thead>
	  <tr>
		<th>Picture</th>
		<th onclick="sortTable(1)" class = "myheadings"> Name </th>
		<th onclick="sortTable(2)" class = "myheadings"> DOB and DOD </th>
		<th onclick="sortTable(3)" class = "myheadings"> Discoveries, Theories, or Inventions </th>
		<th onclick="sortTable(4)" class = "myheadings"> Accolades </th>
		<th onclick="sortTable(5)" class = "myheadings"> Field of study </th>
		<th onclick="sortTable(6)" class = "myheadings"> Influencers </th>
		<th onclick="sortTable(7)" class = "myheadings"> Bio </th>
	  </tr>
	</thead>
	<tr class="instance">
		<td><img src="../static/images/Newton.jpg" alt="Newton" class="scientist"></td>
		<td><a href={{url_for('ScientistSirIsaacNewton')}}> Sir Isaac Newton </a></td>
		<td> 1642-1726 </td>
		<td><a href = {{url_for('theoryCalculus')}}> Calculus </a></td>
		<td> Knighthood </td>
		<td><a href={{url_for('fieldMathematics')}}> Mathematics</a>, <a href={{url_for('fieldPhysics')}}>Physics</a>, <a href={{url_for('fieldAstronomy')}}>Astronomy</a></td>
		<td> Johannes Kepler </td>
		<td> Born in Woolsthorpe, England. Studied at University of Cambridge. </td>
	</tr>
	<tr class="instance">
		<td><img src="../static/images/Darwin.png" alt="Darwin" class="scientist"></td>
		<td><a href={{url_for('ScientistCharlesDarwin')}}> Charles Darwin </a></td>
		<td> 1809-1882 </td>
		<td><a href = {{url_for('theoryEvolution')}}> Theory of Evolution </a></td>
		<td> Royal medal </td>
		<td><a href={{url_for('fieldBiology')}}> Biology </a></td>
		<td> John Herschel </td>
		<td> Born in Shrewsbury, England. Studied at Cambridge. </td>
	</tr>
	<tr class="instance">
		<td><img src="../static/images/Einstein.jpg" alt="Einstein" class="scientist"></td>
		<td><a href={{url_for('ScientistAlbertEinstein')}}> Albert Einstein </a></td>
		<td> 1879-1955 </td>
		<td><a href = {{url_for('theoryRelativity')}}> Theory of Relativity </a></td>
		<td> Nobel Prize in Physics. </td>
		<td><a href={{url_for('fieldPhysics')}}> Physics </a></td>
		<td> Alfred Kleiner </td>
		<td> Born in Ulm, Germany. Studied at University of Zurich. </td>
	</tr>
	<tr class="instance">
		<td><img src="../static/images/Nobel.gif" alt="Nobel" class="scientist"></td>
		<td><a href={{url_for('ScientistAlfredNobel')}}> Alfred Nobel </a></td>
		<td> 1833-1896 </td>
		<td><a href={{url_for('theoryDynamite')}}> Dynamite </a></td>
		<td> The Monument to Alfred Nobel. </td>
		<td><a href={{url_for('fieldChemistry')}}> Chemistry </a></td>
		<td> Immanuel Nobel </td>
		<td> Born in Stockholm, Sweden. Studied with Nikolai Zinin. </td>
	</tr>
	<tr class="instance">
		<td><img src="../static/images/alan-turing.jpg" alt="Turing" class="scientist"></td>
		<td><a href={{url_for('ScientistAlanTuring')}}> Alan Turing </a></td>
		<td> 1912-1954 </td>
		<td><a href={{url_for('theoryDynamite')}}> Turing Test </a></td>
		<td> Smith's Prize. Fellow of the Royal Society. </td>
		<td><a href={{url_for('fieldComputerScience')}}> Computer Science </a></td>
		<td> Alonzo Church. </td>
		<td> Born in London, England. Studied at King's College, Cambridge. </td>
	</tr>
	<tr class="instance">
 		<td><img src="../static/images/Galileo.jpg" alt="Galileo" class="scientist"></td>
 		<td><a href={{url_for('ScientistGalileo')}}> Galileo Galilei </a></td>
 		<td> 1564-1642 </td>
 		<td> Telescope; <a href={{url_for('theoryHelio')}}>Heliocentric solarsystem</a></td>
 		<td> Honorary degree from Jesuit college in Rome. </td>
 		<td><a href={{url_for('fieldAstronomy')}}> Astronomy </a></td>
 		<td> Johannes Kepler. Nicolaus Copernicus. </td>
 		<td> Born in Pisa, Italy. Studied at University of Pisa. </td>
	</tr>
</table>
</div>

<script>$('table.paginated').each(function() {
    var currentPage = 0;
    var numPerPage = 3;
    var $table = $(this);
    $table.bind('repaginate', function() {
        $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
    });
    $table.trigger('repaginate');
    var numRows = $table.find('tbody tr').length;
    var numPages = Math.ceil(numRows / numPerPage);
    var $pager = $('<div class="pager"></div>');
    for (var page = 0; page < numPages; page++) {
        $('<span class="page-number"></span>').text(page + 1).bind('click', {
            newPage: page
        }, function(event) {
            currentPage = event.data['newPage'];
            $table.trigger('repaginate');
            $(this).addClass('active').siblings().removeClass('active');
        }).appendTo($pager).addClass('clickable');
    }
    $pager.insertBefore($table).find('span.page-number:first').addClass('active');
});</script>

</body>
</html>
</div>
