<!DOCTYPE html>

<html>
<div class = "myhtml">
<head>
	<title> Calculus </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/></head>
</head>

<body>
<div class="center">
	<h1>Calculus</h1>
	<div class="mynavbar">
  <a href={{ url_for('index') }}> Home </a> 
	<a href={{ url_for('about') }}> About </a> 
	<a href={{ url_for('fields') }}> Scientific Fields </a> 
	<a href={{ url_for('scientistmodel') }}> Scientists </a> 
	<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
</div>
</div>


	<div>
		<p>
			Calculus (from Latin calculus, literally "small pebble used for counting")is the mathematical study of continuous change, in the same way that geometry is the study of shape and algebra is the study of generalizations of arithmetic operations. 
			It has two major branches, differential calculus (concerning rates of change and slopes of curves), and integral calculus (concerning accumulation of quantities and the areas under and between curves);these two branches are related to each other by the fundamental theorem of calculus. 
			Both branches make use of the fundamental notions of convergence of infinite sequences and infinite series to a well-defined limit. Generally, modern calculus is considered to have been developed in the 17th century by Isaac Newton and Gottfried Leibniz.
			Today, calculus has widespread uses in science, engineering and economics.
		</p>
	</div>
	<h3>History</h3>
	
	<div>
		<h4>Ancient</h4>
		<p>
			The ancient period introduced some of the ideas that led to integral calculus, but does not seem to have developed these ideas in a rigorous and systematic way.
			Calculations of volume and area, one goal of integral calculus, can be found in the Egyptian Moscow papyrus (13th dynasty, c.1820 BC), but the formulas are simple instructions, with no indication as to method, and some of them lack major components.
			From the age of Greek <a href = {{url_for('fieldMathematics')}}>mathematics</a>, Eudoxus (c.408-355 BC) used the method of exhaustion, which foreshadows the concept of the limit, to calculate areas and volumes, while Archimedes (c.287-212 BC) developed this idea further, inventing heuristics which resemble the methods of integral calculus. 
			The method of exhaustion was later discovered independently in China by Liu Hui in the 3rd century AD in order to find the area of a circle. In the 5th century AD, Zu Gengzhi, son of Zu Chongzhi, established a method that would later be called Cavalieri's principle to find the volume of a sphere.
		</p>
		
		<h4>Medieval</h4>
		<p>
			Indian mathematicians gave a semi-rigorous method of differentiation of some trigonometric functions. In the Middle East, Alhazen derived a formula for the sum of fourth powers. 
			He used the results to carry out what would now be called an integration, where the formulae for the sums of integral squares and fourth powers allowed him to calculate the volume of a paraboloid.
			In the 14th century, Indian mathematician Madhava of Sangamagrama and the Kerala school of astronomy and mathematics stated components of calculus such as, what is called by Europeans as, the Taylor series and infinite series approximations.
			However, they were not able to "combine many differing ideas under the two unifying themes of the derivative and the integral, show the connection between the two, and turn calculus into the great problem-solving tool we have today".
		</p>
		
		<h4>Modern</h4>
		<p>
			In Europe, the foundational work was a treatise due to Bonaventura Cavalieri, who argued that volumes and areas should be computed as the sums of the volumes and areas of infinitesimally thin cross-sections. 
			The ideas were similar to Archimedes' in The Method, but this treatise is believed to have been lost in the 13th century, and was only rediscovered in the early 20th century, and so would have been unknown to Cavalieri.
			Cavalieri's work was not well respected since his methods could lead to erroneous results, and the infinitesimal quantities he introduced were disreputable at first.
			The formal study of calculus brought together Cavalieri's infinitesimals with the calculus of finite differences developed in Europe at around the same time. 
			Pierre de Fermat, claiming that he borrowed from Diophantus, introduced the concept of adequality, which represented equality up to an infinitesimal error term.
		</p>
		
		<p>
			The product rule and chain rule, the notion of higher derivatives, Taylor series, and analytical functions were introduced by <a href = {{url_for('ScientistSirIsaacNewton')}}>Isaac Newton</a> in an idiosyncratic notation which he used to solve problems of mathematical physics.
			In his works, Newton rephrased his ideas to suit the mathematical idiom of the time, replacing calculations with infinitesimals by equivalent geometrical arguments which were considered beyond reproach. 
			He used the methods of calculus to solve the problem of planetary motion, the shape of the surface of a rotating fluid, the oblateness of the earth, the motion of a weight sliding on a cycloid, and many other problems discussed in his Principia Mathematica (1687).
			In other work, he developed series expansions for functions, including fractional and irrational powers, and it was clear that he understood the principles of the Taylor series. 
			He did not publish all these discoveries, and at this time infinitesimal methods were still considered disreputable.
		</p>
		
		<p>
			These ideas were arranged into a true calculus of infinitesimals by Gottfried Wilhelm Leibniz, who was originally accused of plagiarism by Newton.
			He is now regarded as an independent inventor of and contributor to calculus. His contribution was to provide a clear set of rules for working with infinitesimal quantities, 
			allowing the computation of second and higher derivatives, and providing the product rule and chain rule, in their differential and integral forms. 
			Unlike Newton, Leibniz paid a lot of attention to the formalism, often spending days determining appropriate symbols for concepts.
		</p>
		
		<p>
			Leibniz and Newton are usually both credited with the invention of calculus. Newton was the first to apply calculus to general physics and Leibniz developed much of the notation used in calculus today. 
			The basic insights that both Newton and Leibniz provided were the laws of differentiation and integration, second and higher derivatives, and the notion of an approximating polynomial series. 
			By Newton's time, the fundamental theorem of calculus was known.
		</p>
	</div>
	
</body>
</div>

</html>
