<!DOCTYPE html>
<div><html class = "myhtml">
<head>
	<title> Dynamite </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" title="basic style" type="text/css" href="../static/css/sciencebois.css" media="all"/></head>
</head>


<body>
<div class="center">
	<h1>Dynamite</h1>	
	<div class="mynavbar">
  <a href={{ url_for('index') }}> Home </a> 
	<a href={{ url_for('about') }}> About </a> 
	<a href={{ url_for('fields') }}> Scientific Fields </a> 
	<a href={{ url_for('scientistmodel') }}> Scientists </a> 
	<a href={{ url_for('theorymodel') }}> Theories/Discoveries </a>
</div>
</div>	

	
	
	<div>
		<p>
			Dynamite is an explosive made of nitroglycerin, sorbents (such as powdered shells or clay) and stabilizers.
			It was invented by the Swedish chemist and engineer <a href={{url_for('ScientistAlfredNobel')}}>Alfred Nobel</a> in Geesthacht, and patented in 1867.
			It rapidly gained wide-scale use as a safer alternative to gun powder and nitroglycerin.
		</p>
		
	</div>
	
	
	<div>
		<h3>Invention and Usage</h3>
		<p>
			Dynamite was invented by Alfred Nobel and was the first safely manageable explosive stronger than black powder.
			Nobel obtained patents for his invention in England on 7 May 1867, in Sweden on 19 October 1867.
			After its introduction, dynamite rapidly gained wide-scale use as a safe alternative to black powder and nitroglycerin.
			Nobel tightly controlled the patents, and unlicensed duplicating companies were quickly shut down.
		</p>
		
		<p>
			An industrialist, engineer, and inventor, Alfred Nobel's father, Immanuel Nobel, built bridges and buildings in Stockholm.
			His construction work inspired him to research new methods of blasting rock. Immanuel's work with explosives later on inspired Alfred to make explosives safer and more effective.
			Today dynamite is mainly used in the mining, quarrying, construction, and demolition industries. Dynamite is still the product of choice for trenching applications, and as a cost-effective alternative to cast boosters.
			Dynamite is occasionally used as an initiator or booster for AN and ANFO explosive charges.
		</p>
	</div>


	
</body>
</html>
</div>
	
	
